.portfolioDetails{
    padding: 5em 0px;
}

.portImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.portImg img{
    width: 350px;
}

.text{
    font-size: 2em;
    font-weight: 600;
}

.text span{
    opacity: 0.8;
    font-size: 0.7em;
    font-weight: 400;
}

.comment{
    width: 100%;
    margin-top: 3em;
}

.comment form textarea{
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    padding: 2em;
}

.comment form button{
    margin-top: 1em;
}

.liveDemo{
    font-size: 1em;
    display: block;
    margin-top: 1em;
}

.like_commnet{
    margin-top: 0.5em;
    line-height: 25px;
}

.description{
    margin-top: 0.5em;
    color: #797878;
}

.social{
    margin-top: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.comment_main{
    margin-top: 2em;
}