.home {
  width: 100%;
  /* align-items:center; */
  font-family: "Arial", sans-serif;
  color: #3e497a;
}
.content {
  display:grid;
  grid-template-columns: 50% 50%;
  /* gap:15% */

}
.img {
  width: 300px;
  height: 290px;
  border-radius: 55%;
  border:15px solid #21325e;
  overflow:hidden;
}
.profile{
  width:100%;
  aspect-ratio: 1/1;
  display:grid;
  place-items: center;
  background-color: pink;
}
.about {
  width:100%;
  height: calc(100vh - 100px);
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  color: #21325e;
  /* margin: auto; */
  margin-top: 8rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #21325e;
  height: 50px;
}


.about .prompt {
  width: 80%;
  font-size: 20px;
  line-height: 1.6;
  font-style: italic;
}
.prompt svg {
  font-size: 45px;
  margin: 10px;
  color: #21325e;
}
.media{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 5rem;
  top: 18rem;
}
.media::after{
  content: "";
  width: 5px;
  height: 3rem;
  background: #3e497a;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #21325e;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}
.btn{
  width: max-content;
  display: inline-block;
  color:#3e497a;
  padding:0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #3e497a;
}
.btn:hover{
  background-color: aliceblue;
  color: #21325e;
  border-color: #3e497a;

}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }
  .content {
    display:inline;
  }


  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
