.section_title:before {
    content: "";
    background-image: url("https://bolby-react.vercel.app/images/dots-bg.svg");
    display: block;
    height: 37px;
    left: -14px;
    top: -14px;
    position: absolute;
    width: 37px;
}

.section_title{
    font-size: 36px;
    color: var(--primary-color);
    position: relative;
    font-weight: 700;
}