.blogCard{
    box-shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
    width: 330px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.blogCard:hover{
    transform: translateY(-10px);
}

.img {
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.blogCard:hover .img img{
    transform: scale(1.2);
}

.img img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.details{
    padding: 1em;
}

.details h2{
    font-size: 1.3em;
    color: var(--primary-color);
    font-weight: 500;
}

.date{
    margin-top: 0.4em;
    color: #8b88b1;
}

@media (max-width:550px){
    .blogCard{
        width: 100%;
    }
}