.about{
    padding: 5em 0px;
}

.row{
    display: flex;
    margin-top: 3em;
    gap: 2em;
}
.aboutImg img{
    object-fit: cover;
    border-radius: 100%;
}

.aboutInfo{
    box-shadow: 0 5px 20px 0 rgb(69 67 96 / 10%);
    background: var(--white-color);
    position: relative;
    flex: 1;
    padding: 2em;
    border-radius: 5px;

}

.aboutInfo::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    left: -15px;
    top: 10%;
}
.aboutInfo p{
    color: #5e5c7f;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 1em;
}

.skills{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

}

.skills p {
    color: #454360;
    font-family: var(--font);
    font-weight: bold;
}

.projectStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    flex-wrap: wrap;
    gap: 1em;
}

@media (max-width:550px){
    .row{
        flex-direction: column;
    }

    .aboutImg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutInfo{
        width: 100%;
    }
}