/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Roboto:ital,wght@0,700;0,900;1,700&display=swap');

/* Reset Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variable */
:root {
  --bg-color: #010101;
  --primary-color: #353353;
  --card-bg_1:#6c6ce5;
  --card-bg_2:#f9d74c;
  --card-bg_3:#f97b8b;
  --white-color: #fff;
  --font: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
input,
label,
button,
div {
  font-family: 'Nunito', sans-serif;
}

html, body {
  overflow-x: hidden;
}
body {
  width:100%;
}


/* Default Class */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.app_btn {
  padding: 0.6em 2em;
  color: var(--white-color);
  outline: 1xp solid var(--white-color);
  border: none;
  background-color: var(--card-bg_3);
  transition: 0.3s ease-in-out;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
}

.app_btn:hover {
  background-color: var(--primary-color);
}

.nav_links{
  font-weight: 500;
  font-size: 1em;
  color: var(--white-color);
  transition: 0.3s ease-in-out;
  margin-left: 1em;
}
.nav_links:hover{
  color: var(--card-bg_2);
}

.nav_links.active{
  color: var(--card-bg_2);
}

.second{
  background-color: #6c6ce5;
}

.second:hover{
  transform: scale(0.8);
}


.comment_show {
  border-top: 1px solid #b5b5b5;
  margin-top: 2em;
  padding-top: 1em;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user_img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.portInfo h4{
  color: #555353;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--card-bg_3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--card-bg_2); 
}


.title{
  font-family: var(--font);
  color: var(--white-color);
  margin-top: 0.7em;
}

@media (max-width:990px){
  .container{
    padding: 1em;
  }
}

.ql-align-justify img{
  width: 100% !important;
}