.home {
    background-image: url("https://ksdevware-dev-portfolio.netlify.app/Asset/hero_bg.jpg");
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.container img{
    object-fit: cover;
    border-radius: 100%;
}

.wrapper h1{
    font-size: 2em;
    margin-top: 0.6em;
    color: var(--white-color);
}

.social{
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: center;
    margin-top: 1em;
}

.social a{
    color: var(--white-color);
}
