.row{
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25em;
}

.portfolioFilter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.button{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.active{
    color: var(--card-bg_3);
}